# Renaming columns in a pandas DataFrame:

In [20]:
import pandas as pd
df = pd.read_csv("Datasets\weather_data.csv")
df.head()

        day  temperature  wind speed  event                  city state
0  1/1/2019           32           6   Rain                Ithaca    NY
1  1/4/2019       -99999           9  Sunny           Willingboro    NJ
2  1/5/2019           28      -99999   Snow               Holyoke    CO
3  1/6/2019       -99999           7      0               Abilene    KS
4  1/7/2019           32      -99999   Rain  New York Worlds Fair    NY

In [21]:
# To check out only the columns
# It will output a list of columns
df.columns

Index(['day', 'temperature', 'wind speed', 'event', 'city', 'state'], dtype='object')

In [22]:
# This will output a list of columns also
df.keys()

Index(['day', 'temperature', 'wind speed', 'event', 'city', 'state'], dtype='object')

### Method 1: Renaming a single column

In [23]:
# inplace=True to affect DataFrame
df.rename(columns = {'event': 'EVENT', 'wind speed': 'Wind_Speed'}, inplace=True)
df.head()

        day  temperature  Wind_Speed  EVENT                  city state
0  1/1/2019           32           6   Rain                Ithaca    NY
1  1/4/2019       -99999           9  Sunny           Willingboro    NJ
2  1/5/2019           28      -99999   Snow               Holyoke    CO
3  1/6/2019       -99999           7      0               Abilene    KS
4  1/7/2019           32      -99999   Rain  New York Worlds Fair    NY

### Method 2: Renaming multiple columns

In [25]:
df_cols = ['Day' , 'Temperature', 'WIND SPEED', 'Event' ,'City' ,'State']

In [26]:
df.columns = df_cols

In [27]:
df.head()

        Day  Temperature  WIND SPEED  Event                  City State
0  1/1/2019           32           6   Rain                Ithaca    NY
1  1/4/2019       -99999           9  Sunny           Willingboro    NJ
2  1/5/2019           28      -99999   Snow               Holyoke    CO
3  1/6/2019       -99999           7      0               Abilene    KS
4  1/7/2019           32      -99999   Rain  New York Worlds Fair    NY

### Method 3: Change columns while reading

In [28]:
df.columns

Index(['Day', 'Temperature', 'WIND SPEED', 'Event', 'City', 'State'], dtype='object')

In [29]:
df = pd.read_csv("Datasets\weather_data.csv",names=df_cols, header=0)
df.head()

        Day  Temperature  WIND SPEED  Event                  City State
0  1/1/2019           32           6   Rain                Ithaca    NY
1  1/4/2019       -99999           9  Sunny           Willingboro    NJ
2  1/5/2019           28      -99999   Snow               Holyoke    CO
3  1/6/2019       -99999           7      0               Abilene    KS
4  1/7/2019           32      -99999   Rain  New York Worlds Fair    NY

### Method 4: Replacing spaces with underscores for all columns
If you have a 100 columns, some had spaces in them and you want to replace all the spaces with underscores

In [30]:
df.columns = df.columns.str.replace(' ', '_')

In [31]:
df.columns

Index(['Day', 'Temperature', 'WIND_SPEED', 'Event', 'City', 'State'], dtype='object')

In [32]:
df.head()

        Day  Temperature  WIND_SPEED  Event                  City State
0  1/1/2019           32           6   Rain                Ithaca    NY
1  1/4/2019       -99999           9  Sunny           Willingboro    NJ
2  1/5/2019           28      -99999   Snow               Holyoke    CO
3  1/6/2019       -99999           7      0               Abilene    KS
4  1/7/2019           32      -99999   Rain  New York Worlds Fair    NY