## Selecting a pandas Series from a DataFrame
###  What is a series ?

* It is a m x 1 vector
    * m is the number of rows
    * 1 is the number of columns
* Each column in DataFrame is known as a pandas series

In [32]:
import pandas as pd
df = pd.read_csv("Datasets\weather_data.csv")
df.head()

        day  temperature  wind speed  event                  city state
0  1/1/2019           32           6   Rain                Ithaca    NY
1  1/4/2019       -99999           9  Sunny           Willingboro    NJ
2  1/5/2019           28      -99999   Snow               Holyoke    CO
3  1/6/2019       -99999           7      0               Abilene    KS
4  1/7/2019           32      -99999   Rain  New York Worlds Fair    NY

In [33]:
# Method 1: Selecting event series (this will always work)
df['event']

# Method 2: Selecting event series
df.event

# 'even' is case-sensitive, you cannot use 'Event'

0     Rain
1    Sunny
2     Snow
3        0
4     Rain
5        0
6     Snow
7        0
8    Sunny
Name: event, dtype: object

In [34]:
# confirm type
type(df["event"])
type(df.event)

pandas.core.series.Series

## How do you select a column name with spacing between words?

* You cannot use method 2 (df.category_name)
* You have to use method 1 (df['category name'])

In [35]:
df["wind speed"]  # you can not use like this df.wind speed

0        6
1        9
2   -99999
3        7
4   -99999
5   -88888
6   -99999
7        8
8       12
Name: wind speed, dtype: int64

In [36]:
df.wind speed  # you can not use like this df.wind speed. It will show you SyntaxError: invalid syntax

SyntaxError: invalid syntax (<ipython-input-36-c90babda14f1>, line 1)

## How do I create a new panda Series in a DataFrame?

In [37]:
# example of concatenating strings
'ab' + 'cd'

'abcd'

In [38]:
# created a new column called "Location" with a concatenation of "City" and "State"
df['location'] = df.city + ', ' + df.state
df

,day,temperature,wind speed,event,city,state,location
0,1/1/2019,32,6,Rain,Ithaca,NY,"Ithaca, NY"
1,1/4/2019,-99999,9,Sunny,Willingboro,NJ,"Willingboro, NJ"
2,1/5/2019,28,-99999,Snow,Holyoke,CO,"Holyoke, CO"
3,1/6/2019,-99999,7,0,Abilene,KS,"Abilene, KS"
4,1/7/2019,32,-99999,Rain,New York Worlds Fair,NY,"New York Worlds Fair, NY"
5,1/8/2019,-99999,-88888,0,Valley City,ND,"Valley City, ND"
6,1/9/2019,-99999,-99999,Snow,Crater Lake,CA,"Crater Lake, CA"
7,1/10/2019,34,8,0,Alma,MI,"Alma, MI"
8,1/11/2019,40,12,Sunny,Eklutna,AK,"Eklutna, AK"